* {box-sizing:border-box;}
body {background-color: #E0E0E0;}


@media screen and (min-width:300px) {
.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:200%;
    z-index:-1;
    opacity:0.5;
}

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}


.nytimes-container {
    padding: 10px;
    margin: 20px 20px 0  15px;
    float:none;
    background-color: rgba(245, 245, 245, 0.7);
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}


    .search-box {
        margin-top: 35px;
        margin-right:25px;
    }

    .col-centered {
        margin: 0 auto;
        float: none;
    }

    .search-btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 42px;
        border-width: 0;
        background-color: #2C8ADB;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
        cursor: pointer;

    }



}
